<ul class="nav">
  <div class="navbar-left">
    <img class="logo" src="../assets/Logo.png" alt="">
  </div>
  <div class="nav-items justify-content-end">
    <div class="row">
      <div class="col-sm">
        <li class="nav-item">
          <a class="nav-link" href="#">{{'About Us' | uppercase}}</a>
        </li>
      </div>
      <div class="col-sm">
        <li class="nav-item">
          <a class="nav-link" href="#">{{'What We DO' | uppercase}}</a>
        </li>
      </div>
      <div class="col-sm">
        <li class="nav-item">
          <a class="nav-link" href="#">{{'Our stuff' | uppercase}}</a>
        </li>
      </div>
      <div class="col-sm">
        <li class="nav-item">
          <a class="nav-link" href="#">{{'Contact Us' | uppercase}}</a>
        </li>
      </div>
    </div>
  </div>
</ul>
