
<app-nav></app-nav>

<div class="content">

  <h1 class="title">{{ title }}</h1>

  <div class="container">

    <app-articles></app-articles>

    <div class="more-btn">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="loadNextArticles()">
        More
      </button>
    </div>
    <comment *ngIf="displayCommentSection"></comment>
    <div class="more-btn">
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        (click)="toggleCommentSection()">
        Comment
      </button>
    </div>

  </div>

</div>

<div class="info-section">
  <p>
    <img
      src="../assets/baseline-web-24px.png"
      alt="">
    Find out More at
    <a href="#">
      www.people.com
    </a>
  </p>
</div>

<footer>
  <p>
    <a href="#">
      Terms and Conditions | Privacy Policy
    </a>
  </p>
</footer>
