<div class="card" style="width: 18rem;">
  <img src="../assets/Programmer-working-in-a-software-developing-company-office-665158684_5379x3586.jpeg" class="card-img-top" alt="">
  <div class="card-body">
    <a href="#">
      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
    </a>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tortor diam. Nulla ultrices velit et ante
      tempor, vitae lacinia elit pulvinar. Suspendisse mattis enim eget ante imperdiet, sed imperdiet risus cursus. Donec dignissim
      scelerisque dignissim. Nunc id tincidunt</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
